<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Beer Finder</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/taphouses">View and Add Taphouses</a>
      </li>
      <li>
        <a href="/beers">View and Add Beers</a>
      </li>
      <li>
        <a href="/breweries">View and Add Breweries</a>
      </li>
  </div>
</nav>
