<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{pageTitle}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
	<body>
		<div class="container">
			{{> navbar}}
		    <div class='jumbotron'>
				<div class='container'>
					<h1>Beer Finder</h1>
					<h3>Find where the beer you want is on tap</h3>
					<p>This crowd sourced application shows you what beer is available where in real time. You, the users, add new beers at locations and remove what's not there anymore! This system ensures the most up-to-date data possible amongst all the locations currently serving beer and filling growlers.</p>
				</div>
			</div>
		</div>
	</body>
</html>